
.footer {
    font-size: 14.5px;
    bottom: 0;
    color: #c2c2c2;
    text-align: center;
    box-sizing: border-box;
    width: 100%; 
    height: 10vh;
}

.copyright p{
    
    @include media($desktop-width){
        text-align: left;
        padding-left: 2%;
    }
}

.copyright span{
    text-transform: uppercase;
    
}
