
.footer {
    font-size: 14px;
    color: #c2c2c2;
    // position: absolute;
    // bottom: 8%;
    // width: 100%;
   
}

.copyright p{
    @include media($desktop-width){
        margin-right: 79%;
    }
}

.copyright span{
    text-transform: uppercase;
    
}
