header {
    padding: 27%;
}

.logo {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    
   
}

.sections-form {
    
    color: white;
    margin-bottom: 1rem;
    font-family: 'open_sans';
    
}

.sections-form p {
    margin-bottom: 1rem;
    font-size: 13px;
    
}

.sections  {
    
    -webkit-appearance: none;
    -moz-appearance: none;   
        
}
