header {
    padding: 27%;
}

.logo {
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    
   
}

.sections-form {
    
    color: white;
    margin-bottom: 1rem;
    font-family: 'open_sans';
    p {
    margin-bottom: 1rem;
    font-size: 13px;
    }
    select  {
    -webkit-appearance: menulist;
    font-size: 18px;
    }
    
}


